/* typography  start*/

* {
    margin:0;padding:0;
    box-sizing:border-box;
    transition:all .2s linear;
    text-decoration:none;
    list-style:none;
}
body {
    font-family:"Poppins", sans-serif;
    background-color:#9F9F9F;
}

/* typography end */


/* Common Css Class start */
.container {
    width:70%;
    margin:auto;
}
/* Common Css Class end */


/* Division css start */

/* header start */
header {
    background-color:#562EFF;
    padding:26px 0;
    position:relative;
    width:100%;
}
header .container {
    display:flex;
    align-items:center;
    justify-content:space-between;
}
header .logo {
    display:flex;
    align-items:center;
}
header .logo img {
    width:40.42px;
    height:51px;
}
header .logo h4 {
    color:white;
    font-size:24px;
    line-height:36px;
    margin-left:8px;
    font-weight:500;
}
header .menu i {
    font-size:2rem;
    color:white;
    display:none;
    cursor:pointer;
    z-index:1;
}
/* navbar start */
header nav {
   z-index:222;
}
header nav ul {
    display:flex;
    align-items:center;
    justify-content:space-around;
}
header nav ul li a {
    color:white;
    font-size:16px;
    font-weight:400;
    line-height:24px;
    font-style:normal;
    margin:48px 24px;
}
header nav ul li a img {
    height:51px;
    width:51px;
}

/* main section start */
main .container {
    background:white;
    margin-top:36px;
    padding:30px;
    border-radius:5px;
}
main h3{
    font-size:24px;
    line-height:36px;
    color:#562EFF;
    text-transform:capitalize;
}
main .top-player .player-container{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-row-gap:30px;
}
main .top-player .player{
    display:flex;
    align-items:center;
}
main .top-player .player .player-image img {
    width:56px;
    height:56px;
}
main .top-player .player .player-name h5{
    font-size:18px;
    line-height:27px;
    text-transform:capitalize;
    font-weight:500;
    margin-left:16px;
}
main .container hr {
    margin:30px 0;
    border:1px solid #D1D1D1;
}

/* top blog */
main .top-blog{}
main .blog-container{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-row-gap:26px;
}
main .blog-container .blog{
    display:flex;

}
main .blog-container .blog .blog-image img{
    width:177px;
    height:117px;
}
main .blog-container .blog .blog-content{
    width:190px;
    height:68px;
    margin-left:16px;
}
main .blog-container .blog .blog-content p{
    font-size:19px;
    line-height:36px;
    font-weight:500;
}
main .blog-container .blog .blog-content span{
    color:#9F9F9F;
}
main .blog-container .blog .blog-content a{
    font-size:16px;
    line-height:24px;
    color:#562EFF;
}


/* Division css end */






/* media quary mobile 320px-576px*/
@media (max-width:456px){
    /* main .top-blog */
    main .blog-container .blog {
        flex-direction:column-reverse;
    }
    main .blog-container {
        grid-template-columns:repeat(1, 1fr);
    }
    main .blog-container .blog .blog-content {
        height:auto;
        width:80%;
        margin-bottom:5px;
    }
    main .blog-container .blog .blog-content p {
        font-size:14px;
    }
    main .blog-container .blog .blog-image img{
        width:80%;
    }
}
@media (max-width:576px){
    header .container {
        
    }
    header .menu i {
        display:block;
        cursor:pointer;
        z-index:11;
        color:white;
    }
    header nav {
        position:absolute;
        width:40%;
        top:100%;right:-200%;
        background:#562EFF;
        color:black;
        height:30vh;
        z-index:2222;
    }
    header nav ul {
        flex-flow:column-reverse;
        height:100%;
        padding:50px 0;
    }
    header nav ul li a {
        color:white;
    }
    .nav-toggle{
        right:0;
    }

    /* main section top player */
    main .container {
        width:90%;
    }
    main .top-player .player-container {
        grid-template-columns:repeat(1, 1fr);
    }
    /* main section top blog */
    main .blog-container {
        grid-template-columns:repeat(1, 1fr);
    }
}

/* media quary mobile 576-768*/
@media (min-width:576px) and (max-width:768px){
    /* main section top player */
    main .container {
        width:90%;
    }
    main .top-player .player-container {
        grid-template-columns:repeat(2, 1fr);
    }
    main .blog-container{
        grid-template-columns:repeat(1, 1fr);
    }
}

/* media quary mobile 768-900 */
@media (min-width:768px) and (max-width:1200px){
    main .blog-container .blog {
        flex-direction:column-reverse;
    }
    main .blog-container .blog .blog-content {
        height:auto;
        margin-left:0;
        margin-bottom:5px;
    }
}
